<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>TO DO LIST</h1>
    <div id="new-btn">
      <div>
        <h5>+ new</h5>
      </div>
    </div>
  </header>
  <main>
    <section id="filter-section">
      <label class="filter">
        <input type="radio" id="all" name="filter" checked>
        전체
      </label>
      <label class="filter">
        <input type="radio" id="no-checked" name="filter">
        완료하지 못한 목록만
      </label>
      <label class="filter">
        <input type="radio" id="checked" name="filter">
        완료한 목록만
      </label>
    </section>
    <section id="main-section">
      <div class="card">JPA Dirty Checking에 대한 공부
          <div class="interaction">
            <input type="checkbox">
            <div class="delete-btn">X</div>
          </div>
      </div>
      <div class="card">JPA Dirty Checking에 대한 공부
        <div class="interaction">
          <input type="checkbox">
          <div class="delete-btn">X</div>
        </div>
      </div>
      <div class="card">JPA Dirty Checking에 대한 공부
        <div class="interaction">
          <input type="checkbox">
          <div class="delete-btn">X</div>
        </div>
      </div>
      <div class="card">JPA Dirty Checking에 대한 공부
        <div class="interaction">
          <input type="checkbox">
          <div class="delete-btn">X</div>
        </div>
      </div>
      <div class="card">JPA Dirty Checking에 대한 공부
        <div class="interaction">
          <input type="checkbox">
          <div class="delete-btn">X</div>
        </div>
      </div>
      <div class="card">JPA Dirty Checking에 대한 공부
        <div class="interaction">
          <input type="checkbox">
          <div class="delete-btn">X</div>
        </div>
      </div>
      <div class="card">JPA Dirty Checking에 대한 공부
        <div class="interaction">
          <input type="checkbox">
          <div class="delete-btn">X</div>
        </div>
      </div>
    </section>
    <section id="page-section">
      <div class="page">&lt;&lt;</div>
      <div class="page">&lt;</div>
      <div class="page">1</div>
      <div class="page">2</div>
      <div class="page">3</div>
      <div class="page">4</div>
      <div class="page">5</div>
      <div class="page">&gt;</div>
      <div class="page">&gt;&gt;</div>
    </section>
  </main>
</body>
</html>